---
layout: default
title: Umer Farooq
---
<div class="header">
    <h1>Umer Farooq</h1>
    <div class="contact-info">
        <a id="phone" href="tel:+1-317-701-0128">+1 (317) 701-0128</a>
        <a id="email" href="mailto:umer@thefarooqs.net">umer@thefarooqs.net</a>
    </div>
</div>

{% for section_hash in site.data.resume %}
{% assign section = section_hash[1] %}
<div class="section">
    <h2>{{ section.name }}</h2>

    {% if section.description %}
    <p>{{ section.description }}</p>
    {% endif %} 

    {% for entry in section.entries reversed %}
    <div class="entry">
        <h3>{{ entry.name }}</h3>
        {% if entry.details %}
        <div class="details">
            {% for detail in entry.details %}
            <div class="detail">
                <div>{{ detail.name }}</div>
                <div>{{ detail.date }}</div>
            </div>
            {% endfor%}
        </div>
        {% endif %}

        {% if entry.highlights %}
        <ul class="highlights">
            {% for highlight in entry.highlights %}
            <li class="highlight">{{ highlight }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endfor %}